# Ratings collected by user information loaded  into a pandas dataframe

In [1]:
import pandas as pd

In [18]:
movies = pd.DataFrame(pd.read_csv("Movies.csv"))

In [19]:
movies.head()

,Name,American Sniper,Edge of Tomrrow,Groundhog Day,Jurassic World,Lost in Translation,Lucy
0,Sarah,5.0,4.0,3.0,NaN,NaN,4.0
1,Josh,4.0,NaN,3.0,3.0,NaN,NaN
2,Adam,NaN,NaN,NaN,4.0,4.0,4.0
3,Malcom,NaN,NaN,2.0,NaN,4.0,NaN
4,Marcus,5.0,4.0,4.0,2.0,3.0,3.0

# Average ratings for each user and each movie

In [4]:
movies.mean()

American Sniper        4.666667
Edge of Tomrrow        4.000000
Groundhog Day          3.000000
Jurassic World         3.000000
Lost in Translation    3.666667
Lucy                   3.666667
dtype: float64

In [5]:
movies['Avg'] = movies.mean(1)

In [6]:
movies.groupby('Name').mean()['Avg']

Name
John        4.000000
Logan       3.333333
Malcom      3.000000
Maurice     3.500000
Modesto     4.000000
Name: Avg, dtype: float64

# Create a new pandas dataframe, with normalized ratings for each user

In [8]:
new_movie = pd.DataFrame(pd.read_csv("Movies Normalized.csv"))

In [9]:
new_movie['American Sniper'].max()

5

In [10]:
def normalize(column=[], *arg):
    return (column - column.min())/(column.max() - column.min())

In [11]:
for col in range(1,len(new_movie.columns)):
    new_movie.iloc[:,col] = normalize(new_movie.iloc[:,col])

new_movie

,Name,American Sniper,Edge of Tomrrow,Groundhog Day,Jurassic World,Lost in Translation,Lucy
0,John,1.0,1.0,0.75,0.00,0.00,1.00
1,Logan,0.8,0.0,0.75,0.75,0.00,0.00
2,Modesto,0.0,0.0,0.00,1.00,1.00,1.00
3,Malcom,0.0,0.0,0.50,0.00,1.00,0.00
4,Maurice,1.0,1.0,1.00,0.50,0.75,0.75

In [12]:
new_movie.mean()

American Sniper        0.56
Edge of Tomrrow        0.40
Groundhog Day          0.60
Jurassic World         0.45
Lost in Translation    0.55
Lucy                   0.55
dtype: float64

In [13]:
new_movie.mean(1)

0    0.625000
1    0.383333
2    0.500000
3    0.250000
4    0.833333
dtype: float64

In [14]:
new_movie['Avg'] = new_movie.mean(1)

In [15]:

new_movie.groupby('Name').mean()['Avg']

Name
John        0.625000
Logan       0.383333
Malcom      0.250000
Maurice     0.833333
Modesto     0.500000
Name: Avg, dtype: float64

#  Conclusion: explain what might be advantages and disadvantages of using normalized ratings instead of the actual ratings

The benefits of normalization makes our data storage more efficient, easier and faster to update our data. No duplication is required for normalization. Some disadvantage of normalization are since data is not duplicated, table joins are required. This makes queries more complicated, and thus read times are slower. Indexing does not work as efficiently. This makes read times slower because the joins donâ€™t typically work well with indexing.