In [2]:
# import the modules we're going to use

import csv
import pandas as pd

In [3]:
# writing a csv file
with open('data.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',')
    filewriter.writerow(['City', 'Alaska-on time', 'Alaska-delayed', 'AM West-on time', 'AM West-delayed'])
    filewriter.writerow(['Los Angeles', 497, 62, 694, 117])
    filewriter.writerow(['Phoenix', 221, 12, 4840, 412])
    filewriter.writerow(['San Diego', 212, 20, 383, 65])
    filewriter.writerow(['San Francisco', 503, 102, 320, 129])
    filewriter.writerow(['Seattle', 1841, 305, 201, 61])

In [4]:
#opening a csv file by printing each row
with open('data.csv', 'r') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['City', 'Alaska-on time', 'Alaska-delayed', 'AM West-on time', 'AM West-delayed']
[]
['Los Angeles', '497', '62', '694', '117']
[]
['Phoenix', '221', '12', '4840', '412']
[]
['San Diego', '212', '20', '383', '65']
[]
['San Francisco', '503', '102', '320', '129']
[]
['Seattle', '1841', '305', '201', '61']
[]

In [5]:
#Reading .CSV file into Pandas
read_file = pd.read_csv('data.csv')
read_file

,City,Alaska-on time,Alaska-delayed,AM West-on time,AM West-delayed
0,Los Angeles,497,62,694,117
1,Phoenix,221,12,4840,412
2,San Diego,212,20,383,65
3,San Francisco,503,102,320,129
4,Seattle,1841,305,201,61

In [6]:
# computation of delayed flights percentages
# I will also add rows to the file
read_file['Total Alaska flights'] = read_file['Alaska-on time'] + read_file['Alaska-delayed']
read_file['Total AM West flights'] = read_file['AM West-on time'] + read_file['AM West-delayed']
read_file['Percentage of delayed flights-Alaska'] = (read_file['Alaska-delayed'] / read_file['Total Alaska flights']) * 100
read_file['Percentage of delayed flights-AM West'] = (read_file['AM West-delayed'] / read_file['Total AM West flights']) * 100
read_file

,City,Alaska-on time,Alaska-delayed,AM West-on time,AM West-delayed,Total Alaska flights,Total AM West flights,Percentage of delayed flights-Alaska,Percentage of delayed flights-AM West
0,Los Angeles,497,62,694,117,559,811,11.091234,14.426634
1,Phoenix,221,12,4840,412,233,5252,5.150215,7.844631
2,San Diego,212,20,383,65,232,448,8.620690,14.508929
3,San Francisco,503,102,320,129,605,449,16.859504,28.730512
4,Seattle,1841,305,201,61,2146,262,14.212488,23.282443